Repository ut-code/security: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, biome

prettier:
  run: bunx prettier {staged_files} --write
  stage_fixed: true

biome:
  run: biome lint --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

fix ci.yml and delete unused file
  .github/workflows/ci.yml
  src/components/InteractiveEditor.tsx
Due: prettier, biome

install tailwind and daisyui
  astro.config.mjs
  bun.lockb
  package.json
  tailwind.config.mjs
Due: prettier, biome

fix sql app (todo?: fix bg color)
  src/apps/sql/page.svelte
  src/content/docs/sql-injection/index.mdx
Due: prettier

update lefthook
  lefthook.yml
Due: prettier

format
  astro.config.mjs
  src/content/docs/sql-injection/index.mdx
  tailwind.config.mjs
Due: prettier, biome

update README and install justfile
  README.md
  flake.nix
Due: prettier

Delete .ignore
  .ignore
Due: none

update lefthook: format and lint every file with known ext
  lefthook.yml
Due: prettier

lefthook: par
  lefthook.yml
Due: prettier

separate backend service from frontend serving, and delete top image
  README.md
  main.go
  package.json
  src/content/docs/index.mdx
Due: prettier, biome

delete top page stagger
  src/content/docs/index.mdx
Due: prettier

install go on build
  .github/workflows/ci.yml
Due: prettier

fix bug where InteractiveEditor duplicates
  src/components/InteractiveEditor.svelte
  src/content/docs/xss/index.mdx
Due: prettier

prettier
  src/content/docs/xss/index.mdx
Due: prettier

fix many things
  README.md
  astro.config.mjs
  bun.lockb
  package.json
  src/apps/sql/page.svelte
  src/components/InteractiveEditor.svelte
  src/content/docs/index.mdx
  src/content/docs/sql-injection/index.mdx
  src/content/docs/xss/index.mdx
  src/tailwind.css
  tailwind.config.mjs
Due: prettier, biome

make dir for each frameworks in apps/
  src/apps/preact/sample.app/index.tsx
  src/apps/svelte/sample.app/+page.svelte
  src/apps/svelte/sql/layout.svelte
  src/apps/svelte/sql/page.svelte
  src/pages/apps/react.astro
  src/pages/apps/svelte.astro
Due: prettier, biome

quick fix
  src/apps/svelte/sql/page.svelte
  src/pages/apps/practice-sql.astro
Due: prettier

update flake
  flake.lock
Due: none

update bun.lockb
  bun.lockb
Due: none

explicitly load .env
  main.go
Due: none

apply tailwind + daisyui on sql app, and fix some styling
  src/apps/svelte/sql/page.svelte
Due: prettier

create basic cracker
  src/apps/svelte/cracker/attackers.ts
  src/apps/svelte/cracker/checkers.ts
  src/apps/svelte/cracker/page.svelte
  src/pages/apps/cracker.astro
Due: prettier, biome

package.json scripts: rename frontend -> web
  package.json
Due: prettier, biome

exp: use worker-rs
  flake.lock
  flake.nix
  services/.gitignore
  services/Cargo.lock
  services/Cargo.toml
  services/README.md
  services/default.nix
  services/rust-toolchain.toml
  services/src/lib.rs
Due: prettier

delete rust
  services/Cargo.lock
  services/Cargo.toml
  services/README.md
  services/default.nix
  services/rust-toolchain.toml
  services/src/lib.rs
Due: prettier

uninstall rust
  flake.lock
  flake.nix
Due: none

init cf worker
  services/README.md
  services/bun.lockb
  services/fetch.ts
  services/package.json
  services/tsconfig.json
  services/worker-configuration.d.ts
  services/wrangler.toml
Due: prettier, biome

recreate it using bun and run format
  astro.config.mjs
  biome.json
  bun.lockb
  justfile
  package.json
  services/app.ts
  services/bun.lockb
  services/fetch.ts
  services/package.json
  services/sql/prepare.ts
  services/sql/sqlite.db
  services/sql/srv.test.ts
  services/sql/srv.ts
  services/sql/types.dev.ts
  services/worker-configuration.d.ts
  tailwind.config.mjs
Due: prettier, biome

make tests pass
  justfile
  services/sql/prepare.ts
  services/sql/sqlite.db
  services/sql/srv.ts
  services/tsconfig.json
Due: prettier, biome

add ci
  .github/workflows/ci.yml
  justfile
Due: prettier

update wrangler.toml and bun.lockb
  bun.lockb
  services/wrangler.toml
Due: none

fix
  bun.lockb
  package.json
  services/app.ts
  services/fetch.ts
Due: prettier, biome

fix wrangler.toml
  services/wrangler.toml
Due: none

use import() instead of import. also delete go files
  services/package.json
  services/sql/prefill.go
  services/sql/prepare.ts
  services/sql/search.go
Due: prettier, biome

fix deploy
  services/sql/prepare.ts
  services/sql/srv.ts
Due: prettier, biome

install better-sqlite3
  services/.gitignore
  services/bun.lockb
  services/package.json
  services/sql/srv.ts
Due: prettier, biome

try sqlite3
  bun.lockb
  services/app.ts
  services/bun.lockb
  services/package.json
  services/sql/prepare.ts
  services/sql/sqlite.db
  services/sql/srv.ts
Due: prettier, biome

uninstall go
  flake.nix
Due: none

create local service runner
  justfile
  services/bun.lockb
  services/dev.ts
  services/package.json
Due: prettier, biome

Path conditions:
  prettier: any of: {*.{js,ts,jsx,tsx,astro,svelte,md,mdx,json,yml,yaml},.prettierrc}
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
